:root{
    --primary:#fff;
    --bg-color:rgb(5,53,61);
    --bg-envelope-color:#f5e3e3;
    --envelope-tab:#fdd1e3;
    --border-right: 150px solid; 
    --envelope-cover:#f19fc0;
    --shadow-color:rgba(0,0,0,0.2);
    --txt-color:#000000fb;
    --heart-color:
    rgb(252, 58, 236);
}

body {
background: linear-gradient(135deg, #f5749f, #3ab5f3);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family:'Segoe UI', sans-serif;
overflow: hidden;
}

.container{
height: 100vh;
display: grid;
place-items: center;
position:relative;
}

.valentine-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.container > .envelope-wrapper{
    width: 320px;
    height: 320px;
background: var(--bg-envelope-color);
box-shadow: 0 0 40px var(--shadow-color);
 overflow: visible;
 position: relative;
}
.container > .envelope-wrapper > .envelope {
position: relative;
 width: 100%;
height: 320px;
top: 0;
}
.container > .envelope-wrapper > .envelope::before{
    content: "";
    position: absolute;
     border-top: 180px solid var(--envelope-tab);
    border-right: 160px solid transparent;
    border-left: 160px solid transparent;
    top: 0;
    transform-origin: top;
   transition: transform 0.6s ease-in-out 1s;
    z-index: 40;
}

.container > .envelope-wrapper > .envelope::after{
    content: "";
    position: absolute;
    z-index: 35;
    border-top: 180px solid transparent;
    border-right: 160px solid var(--envelope-cover);
    border-left: 160px solid var(--envelope-cover);
    border-bottom: 140px solid var(--envelope-cover);
    bottom: 0;
   
}

.letter{
    position: absolute;
    right:1%;
    bottom: 0;
    width: 88%;
    height: 80%;
    background: var(--primary);
   transition: all ease-in-out 1s;
    padding: 20px 10px;
    box-shadow: 0 0 10px var(--shadow-color);
    overflow-y: auto;
    transform: translateY(0);
    z-index: 30;
}

.letter > .text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: var(--txt-color);
    text-align: center;
}


.heart{
     position: absolute;
     top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: var(--heart-color);
    z-index: 50;
    transform: translate(-40%, -10%) rotate(-45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
}

.heart::before,
.heart::after {
     content: "";
    position: absolute;
    width: 40px;
    height: 40px;
  background-color: var(--heart-color);
  border-radius: 50%;
   
}
.heart::before{
    top: -20px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 20px;
}

.flap > .envelope::before{
transform: rotateX(-180deg);

}

.flap > .envelope .letter{
    bottom: 100px;
    transform: translateY(-70px);
    transition-delay:1.5s;
    z-index: 60;
}

.flap > .heart{
    transform: rotate(90deg);
    transition-delay: 0.5s;
}
